@import "bootstrap/scss/bootstrap";

body {
  background-color: #2B6E61;
}

.navbar-brand {
  color: grey;
  font-size: 30px;
}


#ecrire {
  margin-left: 400px;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
}

.crea {
 background-color: #7952B3;
 height: 100vh
}

ul {
  margin-left: 900px;
  padding-bottom: 10px;
}
